@charset "UTF-8";

html,body {
  	font-family: "Lato", sans-serif;
  	padding-top: 1px;
	border: 0;
	margin: 0;
	width: 100%;
	height: 99%;
	background: #CC6666;
	-webkit-animation-name: fadein;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1; /* 动画只播放一次  */
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
        background-color: #fffff;
    }
    100% {
        opacity: 1;
        background-color:  #CC6666;
    }
} 

/* table{
	width:100px;
	table-layout:fixed;只有定义了表格的布局算法为fixed，下面td的定义才能起作用。
}
td{
	width:100%;
	word-break:keep-all;不换行
	white-space:nowrap;不换行
	overflow:hidden;内容超出宽度时隐藏超出部分的内容
	text-overflow:ellipsis;当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用
} */

/* Button */
.btn{
	border-radius: 5px;
	font-family: "montserrat", sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-transform: uppercase;
	margin: 10px 0px 0px 0px;
	padding: 5px 20px;
	min-width: 60px;
	cursor: pointer;
	/* transition: color 0.4s linear; */
	transition: 0.4s;
}

.btn:hover{
	background-color: #ffffff;
	color: #000000;
}

.btn-add{
	border: 2px solid #2ed573;
	background: rgba(46, 213, 115, 0.8);
}

.btn-sh{
	border: 2px solid #70a1ff;
	background: rgba(112, 161, 255, 0.8);
}

.btn-add-sv{
	border: 2px solid #70a1ff;
	background: rgba(112, 161, 255, 0.8);
}

.btn-add-rt{
	border: 2px solid #ced6e0;
	background: rgba(206, 214, 224, 0.8);
}

/* Txt */

.sh-txt{
	color: #ffffff;
}

a{
	text-decoration: none;
}

.a-ud{
	color: #ffa502;
	cursor: pointer;
}

.a-dl{
	color: #ff6348;
	cursor: pointer;
}

.a-rv{
	color: #2ed573;
	cursor: pointer;
}

.a-lk{
	color: #747d8c;
	cursor: pointer;
}

/* Input */
.sh {
	box-sizing: border-box;
	border: 1px solid #555555;
	width: 150px;
	border-radius: 3px;
	font-size: 14px;
	margin: 0px 10px 0px 0px;
	padding: 5px 5px;
	min-width: 80px;
}

.search-box {
	box-sizing: border-box;
	width: 80%;
	padding: 8px 10px;
	margin: 10px auto;
	border: 1px solid #555555;
	border-radius: 5px;
	color: #222222;
	min-width: 120px;
}

.search-text-area {
	box-sizing: border-box;
	width: 80%;
	padding: 8px 10px;
	border: 1px solid #555555;
	border-radius: 5px;
}

.search-select {
	box-sizing: border-box;
	width: 80%;
	padding: 8px 10px;
	border: 1px solid #555555;
	border-radius: 5px;
}

.search-select option{
	color: #555555;
}

.top-search-area{
	width: 94%;
	margin: 15px auto;
}

.mid-table-area{
	width: 94%;
	margin: 15px auto;
}

.btm-page-area{
	width: 94%;
	margin: 15px auto;
}

.show-table{
	width: 100%;
	background-color: whitesmoke;
	text-align: center;
	border-collapse:collapse;
}

.show-table tr {
	height: 30px;
	color: #555;
}

.show-table tr:nth-child(even) {/*odd*/
	background-color: white;
}

.show-table tr:first-child {
	border: 1px solid #555;
}


/* Add */
.add-area {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	padding: 10px 0px;
	background: #f1f2f6;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	text-align: center;
}

.top-tt{
	width: 80%;
	padding: 15px 10px;
	margin: 10px auto;
	border-radius: 5px;
	color: #ffffff;
	font-size: 18px;
	min-width: 120px;
}

.tt-add{
	background-color: #70a1ff;
}

.tt-update{
	background-color: #ffa502;
}

/* Page */
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
