@charset "UTF-8";

html,body {
  	font-family: "Lato", sans-serif;
	border: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: #CC6666;
	-webkit-animation-name: fadein;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1; /* 动画只播放一次  */
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
        background-color: #fffff;
    }
    100% {
        opacity: 1;
        background-color:  #CC6666;
    }
}
.top-text {
	width: 100%;
	height: 30%;
}
.container {
	position: relative;
	text-align: center;
	height: 100%;
}

.bottom-right {
	position: absolute;
	bottom: 8px;
	font-size: 12px;
	color: #747d8c;
	right: 8px;
}

.centered {
	width: 100%;
	position: absolute;
	font-size: 35px;
	color: #f1f2f6;
	font-weight: bold;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mid-content {
	height: 70%;
	text-align: center;
}
.ct-left{
	float: left;
	width: 43%;
	height: 100%;
}
.ct-left h2 {
	font-size: 20px;
	color: #70a1ff;
}
.ct-left a{
	text-decoration: none;
	color: #fff;
}

.left-story{
	position: relative;
	width: 85%;
	height: 18%;
	margin: 4px auto;
	border: 2px solid #fff;
	border-radius: 10px;
	background-color: #bbad8a;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.left-story .title{
	position: absolute;
	top: 0;
	font-size: 18px;
	color: #555555;
	left: 8px;
}

.left-story .author{
	position: absolute;
	bottom: 0;
	font-size: 12px;
	color: #999999;
	right: 8px;
}

.ct-mid{
	float: left;
	width: 27%;
	height: 100%;
}

.ct-mid h2 {
	font-size: 20px;
	color: #f1f1f1;
}

.ct-right{
	position: relative;
	float: left;
	width: 30%;
	height: 100%;
}

.ct-right h2 {
	font-size: 20px;
	color: #70a1ff;
}

.btn{
	margin: 10px;
	background: rgba(47, 53, 66, 0.4);
	border: 2px solid #ffffff;
	border-radius: 5px;
	font-family: "montserrat", sans-serif;
	font-size: 15px;
	color: #ffffff;
	text-transform: uppercase;
	padding: 10px 20px;
	min-width: 120px;
	cursor: pointer;
	/* transition: color 0.4s linear; */
	transition: 0.4s;
}

.btn:hover{
	background-color: #ffffff;
	color: #000000;
}

.search-box {
	box-sizing: border-box;
	width: 80%;
	padding: 8px 10px;
	margin: 10px auto;
	border: 1px solid #555555;
	border-radius: 5px;
	color: #222222;
	min-width: 120px;
}

.suggestion-text-area {
	box-sizing: border-box;
	width: 80%;
	padding: 8px 10px;
	border: 1px solid #555555;
	border-radius: 5px;
}