@charset "UTF-8";

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
        background-color: #fff;
    }
    100% {
        opacity: 1;
        background-color:  #CC6666;
    }
} 
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	background: #ced6e0;
	overflow-x: hidden;
 	-webkit-animation-name: fadein;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1; /* 动画只播放一次  */
}

.hide-scroll {
	overflow-y: hidden;
}

.div0 {
	position: relative;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 95vh;
	/* #dfe4ea #f2eee2*/ 
	background-color: #CC6666;
	transition: left 1.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.div0 h1 {
	font-size: 100px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 15px;
	position: absolute;
	top: 52%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	background: url(../image/indexbg.png) 50% 60%;
	background-size: cover;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.div1 {
	position: relative;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 110vh;
	background-color: #CC6666;
	transition: left 1.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.div1-area{
	width: 90%;
	height: 85%;
	margin: 0 auto;
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.area-card{
	position: absolute;
	left: 10%;
	top: 10%;
	width: 25%;
	height: 65%;
}

.area-card img{
	width: 100%;
	height: 100%;
	border: 2px solid #555555;
	transition: 0.5s;
}

.area-card:hover img{
	cursor: pointer;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  	filter: grayscale(100%);
}

.area-intro{
	position: absolute;
	right: 10%;
	top: 10%;
	width: 50%;
	height: 65%;
	background-color: #f4f4f4;
}

.intro-container{
 	padding: 0 16px;
}
.intro-title{
	color: #999999;
}

.div2 {
	position: relative;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 105vh;
	background-color: #f1f2f6;
	transition: left 1.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.div2 img {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 100;
}

.div2 h2 {
	position: absolute;
	font-family: "FangSong";
	letter-spacing: 20px;
	color: #57606f;
	z-index: 140;
	font-size: 40px;
	top: 12%;
	left: 50%;
	transform: translate(-50%, -0%);
}

.div2-know-text {
	font-family: "FangSong";
	position: absolute;
	line-height: 25px;
	z-index: 140;
	font-size: 18px;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -0%);
	text-indent: 2em;
	background: none;
	color: #57606f;
	width: 800px;
	height: 200px;
}

.div2-btn{
	z-index: 200;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -0%);
}

.div3 {
	position: relative;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 105vh;
	background-color: #ffffff;
	transition: left 1.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.div4 {
	position: relative;
	left: 0;
	z-index: 10;
	width: 100%;
	background-color: white;
	transition: left 1.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.div4-footer-top {
	display: flex;
	justify-content: center;
	padding: 20px 0;
	background: #f4f5f5;
}

.div4-footer-top ul {
	display: flex;
	margin: 0;
	padding: 0;
	font-size: 12px;
	bottom: 0;
}

.div4-footer-top ul li {
	list-style-type: none;
	padding: 0 15px;
}

.div4-footer-top ul li a {
	color: #2e3a3e; opacity : 0.8;
	text-decoration: none;
	outline: none;
	transition: opacity 0.4s linear;
	opacity: 0.8;
}

.div4-footer-bottom {
	font-size: 10px;
	color: #2e3a3e; display : flex;
	justify-content: center;
	padding: 20px 0;
	display: flex;
}

.div4-footer-bottom small {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-open {
	overflow-x: visible;
	backface-visibility: hidden;
	left: 248px;
	filter: blur(5px);
}